

<section class="todoapp">
			<header class="header">
				<h1>Your ToDo Lists</h1>
			<!-- 	<%# <% raise @list.errors.inspect %> %>-->
				<%= form_for(@list) do |f| %>
			<!-- <%# <% if @list.errors[:name].present? %>  %> --!>
					<%= f.text_field :name, :class => "new-todo", :placeholder => (@list.errors.full_messages.first || "Enter a new list name...") %>
					<%= f.submit :style => "display: none" %>
				<% end %>

				<!-- <input class="new-todo" placeholder="Make a new list" autofocus=""> -->
			</header>

			<section class="main">

				<ul class="todo-list">

          <% @lists.each do |list| %>
            <li>
              <div class="view">

								<label style="display:inline-block"><%= link_to list.name, list_path(list) %></label>

								<a style="display:inline-block; color:maroon; font-size:0.5em" href="#">click to hide</a>
              </div>
            </li>
          <% end %>


        </ul>
			</section>

    	<footer class="footer">
			</footer>
		</section>
