

<section class="todoapp">
			<header class="header">
				<h1>Your ToDo Lists</h1>
			<!-- 	<%# <% raise @list.errors.inspect %> %>-->
				<%= form_for(@list) do |f| %>
					<%= f.text_field :name, :class => "new-todo", :placeholder => (@list.errors.full_messages.first || "Enter a new list name...") %>
					<%= f.submit :style => "display: none" %>
				<% end %>

				<!-- <input class="new-todo" placeholder="Make a new list" autofocus=""> -->
			</header>

			<section class="main">

				<ul class="todo-list">

          <% @lists.each do |list| %>
            <li>
              <div class="view">

                <label><%= link_to list.name, list_path(list) %></label>
              </div>
            </li>
          <% end %>

          <li>
            <div class="view">
              <label><a href="#">Demo - Shopping List</a></label>
            </div>
          </li>

          <li>
            <div class="view">
              <label><a href="#">Demo - Gift List</a></label>
            </div>
          </li>

          <li>
            <div class="view">
              <label><a href="#">Demo - Reading List</a></label>
            </div>
          </li>

        </ul>
			</section>

    	<footer class="footer">
			</footer>
		</section>
